.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  min-height: 100vh;
  background: #0f172a;
  color: #fff;
}

.home-left {
  width: 55%;
}

.home-left h1 {
  font-size: 35px;
  font-weight: bold;
}

.home-left span {
  color: #22d3ee;
}

.social-icons a {
  margin-right: 15px;
  font-size: 20px;
  color: #22d3ee;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #22d3ee;
  color: #000;
  border-radius: 25px;
  text-decoration: none;
}

.home-right {
  width: 40%;
}

.profile-border {
  /* border: 4px solid #22d3ee; */
  border-radius: 20px;
  padding: 10px;
}

.profile-border img {
  width:90%;
  border-radius: 15px;
}
